/* @charset "UTF-8"; */
body{
    background-color: rgb(216, 252, 240);
    /* outline: solid 1px black; */
    /* height: 520px; */
    margin: 0px;
}
.noscript{
    font-size: 18px;
    font-weight: bold;
    width: 360px;
    position: relative;
    left: 50%;
    margin-left: -186px;
    background: yellow;
    border: dashed red 6px;
    text-align: center;
}
.title {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    position: relative;
    font-size: 12px;
    line-height: 28px;
}
.widebox{
    margin: 0;
    width: 360px;
    left: 50%;
    margin-left: -180px;
    height: 400px;
    position: relative;
    text-align: center;
    /* outline: dashed 2px black; */
    font-size: 12px;
}
#datas{
    font-size: 18px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    position: relative;
}
#datas button{
    min-width: 60px;
    height: 36px;
    font-size: 18px;
}
#datas input{
    text-align: center;
    height: 28px;
    font-size: 18px;
}
#datas #Name input{
    width: 100px;
}
#datas h4{
    font-weight: bold;
    display: block;
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -150px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#datas #MT{
    width: 360px;
    position: relative;
    left: 50%;
    margin-left: -180px;
}
#datas input[type="radio"]{
    width: 18px;
    height: 18px;
    margin: 2px 4px;
    transform: scale(1.2);
}
#datas label{
    font-size: 20px;
}
#datas table{
    width: 380px;
    position: relative;
    left: 50%;
    margin-left: -190px;
    font-size: 20px;
}
#datas table .col0{width: 65px; padding: 0px; text-align: left;}
#datas table .col1{width: 65px; padding: 0px;}
#datas table .col2{width: 95px; padding: 0px;}
#datas table .col3{width: 95px; padding: 0px;}
#datas table .col4{width: 60px; padding: 0px; font-size: 15px;}
#datas table input{
    width: 80px;
    font-size: 20px;
    text-align: center;
}
#datas details span{
    display: block;
    width: 150px;
    font-size: 14px;
}
#datas #third details{
    width: 200px;
}
#datas .input-short input{
    width: 40px;
}
#datas table .output{
    font-weight: 500;
    text-align: center;
}
#datas table .output .behind{
    display: none;
}
#datas table img.sort-pic{
    width: 80%;
    height: 16px;
    margin-left: 10%;
    cursor: grab;
}
#datas .drag{
    position: relative;
    opacity: 0.5;
    scale: 1.15;
    left: 6%;
}
#datas table tr.separator{
    font-size: 0px;
}
#datas table tr.separator img{
    opacity: 0.01;
    height: 5px;
    width: 100%;
}
#datas #final{
    position: relative;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
#check{
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: cornsilk;
    outline: double black 12px;
    outline-offset: -12px;
    display: none;
}
#check h2{
    margin: 15px;
}
#check table{
    width: 80%;
    margin: 10px 10%;
    font-size: 120%;
}
#check button{
    width: 100px;
    height: 40px;
    font-size: 100%;
    font-weight: 700;
    margin: 15px;
    border-radius: 20px;
}
#check button:nth-child(1){
    background-color: rgb(202, 25, 34);
}
#check button:nth-child(1):hover{
    background-color: rgb(254, 49, 93);
}
#check button:nth-child(2){
    background-color: rgb(100, 187, 12);
}
#check button:nth-child(2):hover{
    background-color: lawngreen;
}
iframe.loading{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (min-width:600px) {
    body{
        background-color: rgb(217, 247, 250);
        /* width: 500px; */
    }
    .title{
        width: 600px;
        margin-left: -300px;
        font-size: 16px;
        padding-top: 2px;
    }
    .title .br-device{
        display: none;
    }
    .widebox{
        font-size: 18px;
        width: 800px;
        margin-left: -400px;
    }
    #datas{
        width: 600px;
        margin-left: -300px;
    }
    #datas button{
        min-width: 90px;
        height: 48px;
        font-size: 24px;
    }
    #datas h4{
        font-size: 28px;
        width: 500px;
        margin-left: -250px;
    }
    #datas input{
        height: 36px;
        font-size: 30px;
    }
    #datas #Name input{
        width: 180px;
    }
    #datas #MT{
        width: 600px;
        position: relative;
        left: 50%;
        margin-left: -300px;
    }
    #datas input[type="radio"]{
        transform: scale(1.8);
        margin: 2px 10px;
    }
    #datas label{
        font-size: 28px;
    }
    #datas table{
        width: 600px;
        position: relative;
        left: 50%;
        margin-left: -300px;
        font-size: 30px;
    }
    #datas table .col0{width: 85px;}
    #datas table .col1{width: 85px;}
    #datas table .col2{width: 160px;}
    #datas table .col3{width: 175px;}
    #datas table .col4{width: 95px; font-size: 24px;}
    #datas details span{
        width: 200px;
        font-size: 20px;
    }
    #datas #third details{
        width: 300px;
    }
    #datas table input{
        width: 120px;
        height: 32px;
        font-size: 28px;
    }
    #datas .input-short input{
        width: 50px;
    }
}
@media screen and (min-width:500px) {
}
@media screen and (min-width:1000px) {
    body{
        background-color: rgb(231, 231, 255);
    }
    .title{
        font-size: 20px;
        padding-top: 4px;
    }
    .widebox{
        font-size: 24px;
        width: 1200px;
        margin-left: -600px;
    }
    #datas{
        font-size: 20px;
        width: 1200px;
        margin-left: -600px;
    }
    #check{
        width: 90%;
        left: 5%;
    }
    
}
@media screen and (min-width:1200px) {
    #datas #base{
        position: relative;
        width: 600px;
    }
    #datas #resultData{
        position: relative;
        width: 600px;
        margin-left: 600px;
    }
    #check{
        width: 90%;
        left: 5%;
    }
}
